@model Plataforma_CPF.Models.Usuarios

@{
    Layout = "~/Views/Teacher/_LayoutMT.cshtml";
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>APerfil</title>

    <meta name="viewport" content="width=device-width" />
    <title>MI INICIO</title>
    <link rel="shortcut icon" type="/image/x-icon" href="~/Content/Pal/images/logocpf.svg" alt="" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MI INICIO</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/startmin/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Content/startmin/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/startmin/css/startmin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/startmin/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <br /><br />
                        <div class="col-lg-12">
                            <h1 class="page-header">MIS DATOS DE PERFIL</h1>
                        </div>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.idUsuario)
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        CAMBIANDO DATOS DE PERFIL
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group">
                                                @Html.Label("MI NOMBRE DE USUARIO", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", @style = "color:blue", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <br /><br />
                                            <div class="form-group">
                                                @Html.Label("MI CORREO ES", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @style = "color:blue" } })
                                                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <br /><br />
                                            <div class="form-group">
                                                @Html.Label("MI CONTRASEÑA ELEGIDA", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @class = "form-control", @style = "color:blue" } })
                                                    @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <br /><br />
                                            <div class="form-group">
                                                @Html.Label("MI PERFIL DE USUARIO", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.perfil, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "color:blue" } })
                                                    @Html.ValidationMessageFor(model => model.perfil, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <br /><br />
                                            <div class="form-group">
                                                @Html.Label("MI ESTATUS ACTUAL", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "color:blue" } })
                                                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <br /><br />
                                            <div class="form-group">
                                                @Html.Label("MI TOKEN DE RECUPERACIÒN", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.TokenRecovery, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "color:blue" } })
                                                    @Html.ValidationMessageFor(model => model.TokenRecovery, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <p class="otra-opcion">LOS CAMPOS INHABILITADOS SOLO LOS PUEDE CAMBIAR EL ADMINISTRADOR</p>
                                        <!-- /.row (nested) -->
                                        <br /><br /><br>
                                        <div class="box-footer">
                                            <button type="submit" class="btn btn-success pull-right" style="width:110px; height:40px">ACTUALIZAR</button>
                                            <button type="button" class="btn btn-info" style="background:#ffd800; width:110px; height:40px" onclick="location.href='@Url.Action("HomeT", "Teacher")';return false;">REGREASAR</button>
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
    }

</body>
</html>